* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2933;
    padding: 15px 40px;
    position: fixed;
    top: 0; 
    right: 0; 
    left: 0;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}


.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-bar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-bar a:hover,
.nav-bar .active {
    color: #38bdf8;
}

.fa-bars {
  font-size: 24px;
  cursor: pointer;
}

.menu {
    display: none;
}

.hero {
    margin-top: 55px;
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #658fe9, #384f9d);
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: #38bdf8;
    color: #000;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin-top: 8px;
}

.about {
    padding: 60px 40px;
    text-align: center;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.latest {
    background: #f1f5f9;
    padding: 60px 40px;
    text-align: center;
}

.latest {
    background: #f1f5f9;
    padding: 60px 40px;
    text-align: center;
}

.latest h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.announcement-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.announcement-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.announcement-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.announcement-card p {
    font-size: 15px;
    color: #444;
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    color: white;
}

.tag.new {
    background: #16a34a;
}

.tag.update {
    background: #2563eb;
}

.tag.important {
    background: #dc2626;
}


.announcement-box {
    background: white;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
}

.btn-outline {
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid #2563eb;
    color: #2563eb;
    border-radius: 5px;
}

.apply {
    padding: 60px 40px;
    text-align: center;
}

.footer {
    background: #1f2933;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 950px) {
    .announcement-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 580px) {
    .announcement-container{
        grid-template-columns: auto;
    }

    .bars {
        display: flex;
        flex-direction: column;
    }
    .hero {
        margin-top: 50px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 19px;
    }

    .menu {
        display: block;
    }
    .nav-bar {
        display: none;
    }
}
